# Dependensi Node.js
/backend/node_modules/

# File environment yang berisi kunci rahasia
/backend/.env

# Database lokal SQLite
/backend/sembako.db

# Log dari NPM
npm-debug.log*

# File sistem operasi
.DS_Store
Thumbs.db
node_modules/
.env
sembako.db